@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}